<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-md-0">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_logo">
                            <h1>Evérest</h1>
                        </div>
                        <div class="footet_text">
                            <p>Đặt xu hướng cho thế giới công nghệ di động tiên tiến.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-md-0">
                <div class="row">
                    <div class="col-6">
                        <div class="footer_menu">
                            <h4>Tài khoản</h4>
                            <a href="/account/order-history">Đơn hàng</a>
                            <a href="/account/">Quản lí tải khoản</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="footer_menu">
                            <h4>Thông tin</h4>
                            <a href="/about-us">Về chúng tôi</a>
                            <a href="/about-us">Lịch sử hình thành</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer_download">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="footer_title">Liên hệ</h4>
                            <div class="footer_contact">
                                <p>
                                    <span class="icn"><i class="las la-map-marker-alt"></i></span>
                                    Hà Nội, Việt Nam
                                </p>
                                <p class="phn">
                                    <span class="icn"><i class="las la-phone"></i></span>
                                    0123456789
                                </p>
                                <p class="eml">
                                    <span class="icn"><i class="lar la-envelope"></i></span>
                                    2021050790@student.humg.edu.vn
                                </p>
                            </div>
                        </div>
                        <div class="footer_social col-12">
                            <div class="footer_icon d-flex justify-content-start">
                                <a href="https://facebook.com/" class="facebook mr-3"><i class="lab la-facebook-f"></i></a>
                                <a href="https://x.com/" class="twitter mr-3"><i class="lab la-twitter"></i></a>
                                <a href="https://instagram.com/" class="instagram"><i class="lab la-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright_wrap bg-dark text-white py-2">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="m-0">© Evérest - All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>